{% extends 'box/base.html' %}

{% block title %}Контакты{% endblock %}
{% block description %}Контакты автора сайта djpy.ru{% endblock %}
{% block keywords %}skype, email, github{% endblock %}

{% block page %}

<font color="#7FFF00">dp@djpy</font><font color="#ffffff">:</font><font color="#3333ff">~</font><font color="#ffffff">$</font> cat ~/Статьи/<font color="#FFD700">Контакты.txt</font>

<br>
<br>

skype:  <a href="skype:sa74_9">sa74_9</a>
<br>
email:  <a href="mailto:dp@djpy.ru">dp@djpy.ru</a>
<br>
github: <a href="https://github.com/saa74">https://github.com/saa74</a>

{% endblock %}
